body {
    margin: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

main {
    flex-grow: 1;
}

section {
    text-align: center;
    width: 80%;
    border: 5px solid green;
    margin-bottom: 2%;
    box-sizing: border-box;
    margin: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

img {
    height: 90px;
    width: 90px;
}

.card {
    display: inline-block;
    margin: 5px;
    width: 100px;
    border: 5px solid green;
}

.not-fave {
    border: 5px solid red;
}

footer, header {
    background-color: green;
    flex-shrink: 0;
}

@media screen and (min-width: 600px) {
	.card {
        width: 250px;
    }
}